.snapContainer {
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

.footerContainer {
  scroll-snap-align: end;
}

.objectTickerGroup {
  scroll-snap-align: start;
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  gap: 0;
  background-color: var(--ifm-background-color);
  border-top: 3px dashed var(--pixel-shadow);
}
